.project
.classpath
.settings
.checkstyle
target
*.class

# Package Files #
*.jar
*.war
*.ear
/nbproject/
/JAVAapp/dist/
/JAVAapp/build/
/WebAppTable/nbproject/private/
/CodeArduino/_161207_UniquementWebServer/data/nbproject/private/