# Jinx Personnal Files #
/Jinx/autosave.dat
/Jinx/options.dat
/Jinx/Perso/

# Arduino Personnal File #
/CodeArduino/ESPTable/PersonnalData.h

# Java app #
/JAVAapp/build/
/JAVAapp/dist/
/JAVAapp/nbproject/private/
*.class
*.project
.classpath
.settings
.checkstyle
*.class
winscp556/WinSCP.ini
