# Jinx Personnal Files #
/Jinx/autosave.dat
/Jinx/options.dat
/Jinx/Perso/

# Arduino Personnal File #
/CodeArduino/ESPTable/PersonnalData.h

# Java app et Eclipse files #
/JAVAapp/build/
/JAVAapp/dist/
/JAVAapp/nbproject/private/
/CodeArduino/ESPTable/Release/
/CodeArduino/ESPTable/.ino.cpp
*.project
.settings
*.cproject

# Others #
winscp556/WinSCP.ini
*.bin
CodeArduino/ESPTable/update.bat
